/*General*/
body, input, button, textarea {
  font-family: 'Varela Round', Helvetica Neue, Helvetica, Arial, serif;
}
body {
  font-size: 1em;
  color: #7851a9;
  font-weight: 400;
  background: #7851a9;
  position: relative;
}
a {
  text-decoration: none;
  color: #2C3238;
}
a:hover {
  color: #000;
}

/*Typography*/
h1, h2, h3, h4 {
  font-size: 1.15em;
  font-weight: bolder;
  margin: 0;
  line-height: 1em;
}
h1 {
  text-align: center;
  line-height: 30px;
}
h2 {
  margin: 0 0 10px;
}
h3 {
  text-align: center;
  padding: 40px 0 0 40px;
  font-size: 1em;
}
h4 {
  margin: 10px 0 0;
  opacity: .7;
  font-size: 1em;
  color: black;
}
h5 {
    margin: 0;
}
p {
  margin: 0;
  line-height: 1.5em;
}

/*Header*/
header {
  width: 100%;
  background: #fff;
  padding: 20px 0;
  color: black;
  font-size: 1.15em;
}
.stream{
  width: 30px;
  height: 30px;
  background: url('../img/activity.png') center no-repeat;
  background-size: 27px 27px;
  display: block;
  float: right;
  margin-right: 10px;

}
.contactList{
  width: 30px;
  height: 30px;
  background: url('../img/contact.svg') center no-repeat;
  background-size: 27px 27px;
  display: block;
  float: right;
  margin-right: 10px;
}
.calendar {
  width: 30px;
  height: 30px;
  background: url('../img/calendar.svg') center no-repeat;
  background-size: 20px 20px;
  display: block;
  float: right;
  margin-right: 10px;
}
.money{
  width: 30px;
  height: 30px;
  background: url('../img/money.png') center no-repeat;
  background-size: 27px 27px;
  display: block;
  float: right;
  margin-right: 10px;
}
.docs{
  width: 30px;
  height: 30px;
  background: url('../img/doc.png') center no-repeat;
  background-size: 22px 22px;
  display: block;
  float: right;
  margin-right: 10px;
}

.icon-logo {
  width: 30px;
  height: 48px;
  background: url('../img/crest.png') center no-repeat;
  background-size: 27px 48px;
  display: block;
  float: left;
}
.icon-profile {
  width: 30px;
  height: 30px;
  background: url('../img/icon-profile.svg') center no-repeat;
  background-size: 20px 20px;
  display: block;
  float: right;
  margin-right: 10px;
}
.icon-power {
  width: 30px;
  height: 30px;
  background: url('../img/icon-power.svg') center no-repeat;
  background-size: 20px 20px;
  display: block;
  float: right;
}


/*Main*/
.main {
  max-width: 800px;
  margin: 40px auto 0;
  background: #fff;
  border-radius: 4px;
  transition: .35s linear;
  padding-bottom: 20px;
}
.skinny {
  max-width: 320px;
  padding: 40px;
}
.bleed_purple{
  width: 800px;
  height: 190px;
  background: url('../img/bleed_purple.jpg') center no-repeat;
  background-size: 27px 27px;
  display: block;
  float: right;


}

nav{
  padding: 0 0 0 20px;
  position: relative;
  line-height: 60px;
  font-size: .875em;
}
nav a {
  padding: 0 20px 10px;
}
nav a.new {
  color: black;
  float: right;
  padding: 0 20px 0px;
}
nav a.current {
  color: black;
  border-bottom: 2px solid mediumpurple;
}
article {
  border-bottom: 2px solid mediumpurple;
  margin: 0;
  padding: 40px;
}
article:last-child {
  border-bottom: 0;
}
article p {
  margin: 20px 0 0;
}
time {
  font-size: .875em;
  opacity: .8;
}

/*Form Elements*/
form {
    margin: 0;
    padding: 40px;
}
input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
input:focus {
  border-color: mediumpurple;
  color: #2C3238;
}
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
textarea:focus {
  border-color: mediumpurple;
  color: #2C3238;
}
button {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: black;
  color: #fff;
  border: 0;
  border-radius: 4px;
  opacity: .8;
  transition: .35s linear;
}
button:hover {
  opacity: 1;
}
button.small {
    padding: 1em 0.5em;
    margin: 0 auto;
    text-align: center;
}

/*Profile*/
.stats {
  width: 100%;
  display: table;
  text-align: center;
}
.status {
  border: 4px solid #D5DDE4;
  border-radius: 4px;
  width: 80%;
  margin: 10px 10%;
  display: block;
  padding: 10px 0;
  color: #D5DDE4;
  opacity: .8;
  transtion: .35s linear;
}
.status:hover {
  opacity: 1;
  color: inherit;
}
.follow {
  border-color: #6ECDF7;
  color: #6ECDF7;
}
.follow::before {
  content: '+ '
}
.unfollow {
  border-color: #6ECDF7;
  color: #6ECDF7;
}
.unfollow::before {
  content: '- '
}
.disabled {
  border-color: #D5DDE4;
  color: #D5DDE4;
}
.view {
    font-size: 0.8em;

}
.view2 {
    font-size: 0.7em;

}


/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.success {
  background: mediumpurple;
  color: white;
}
.error {
  background: mediumpurple;
  color: white;
  margin-bottom: 20px;
}

/*Footer*/
footer{
  color: white;
  text-align: center;
  font-size: .875em;
  margin: 40px 0;
}

footer p {
  opacity: .7;
}

/*Grid*/
.row {
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto;
  transition: .35s linear;
}
.row:before, .row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.grid-100{
    display: inline-block;
  float: left;
  width: 100%;
}
.grid-50{
    display: inline-block;
  float: left;
  width: 49%;
}
.grid-33{
    display: inline-block;
  float: left;
  width: 33%;
}
.grid-25{
  display: inline-block;
  float: left;
  width: 20%;
  margin: 0 2.25%;
}

/*Media Queries*/
@media (max-width: 728px) {
  .main {
    margin: 10px auto;
  }

  .grid-25 {
    width: 46%;
    margin: 20px 2%;
  }

  .grid-50 {
    width: 100%;
  }

  .row {
    padding: 0 10px;
  }
}
.post {
    white-space: pre;
}