
{% extends "base.html" %}

{% block content %}
            <nav>

              <a href="{{ url_for('contactList') }}">Contacts</a>

                {% if current_user.is_authenticated() %}
                <a href="{{ url_for('contact') }}" class="new">Create New Contact</a>
                {% endif %}

            </nav>

            {% for contact in contactList %}
                <article>
                    <h2>
                        {{ contact.name }}
                        <a href="{{ url_for('delete_contact', contact_id=contact.id) }}" class="view2" > Delete</a>
                    </h2>
                    <h4>
                        <b>Email: {{ contact.email }}  |  Phone: {{ contact.number }}  |  Position: {{ contact.position }}</b>
                    </h4>
                </article>

            {% endfor %}

{% endblock %}